.App {
  font-family: sans-serif;
  color: aqua;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  position: absolute;
  right: 150px;
  width: 200px;
  height: 120px;
}

.footer {
  font-family: sans-serif;
  color: aqua;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding-top: 500px;
  position: fixed;
  left: 150px;
  width: 200px;
  height: 120px;
}

.note-wrapper {
  height: 100%;
  display: flex;
}

.note-column {
  display: flex;
  flex-direction: column;
}
.note-column--active {
  background: #770099;
}
.note {
  height: 80px;
  width: 40px;
  background: red;
  border: 2px solid lightblue;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}
.note--active {
  background: grey;
}
.note:active {
  background: lightgrey;
}

.play-button {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  margin: 1rem auto;
  border: 2px solid #121212;
  border-radius: 4px;
  cursor: pointer;
}
